.navlist {
  padding: 0;
  height: 100%;
  overflow-y: auto;

  > li {
    display: flex;
    cursor: pointer;
    padding: 0.33em 0 0.33em 1em;
    margin-bottom: 0.5em;
    border-bottom: 1px solid #efefef;
  }
}
